<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thearbiter.pugdundeesafaris" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconimage"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".Lodges"
            android:label="@string/title_activity_lodges" >
        </activity>
        <activity
            android:name=".Parks"
            android:label="@string/title_activity_parks" >
        </activity>
        <activity
            android:name=".Programs"
            android:label="@string/title_activity_programs" >
        </activity>
        <activity
            android:name=".PhotosView"
            android:label="@string/title_activity_photos_view" >
        </activity>
        <activity
            android:name=".ContactUs"
            android:label="@string/title_activity_contact_us" >
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us" >
        </activity>
        <activity
            android:name=".BookNow"
            android:label="@string/title_activity_book_now" >
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/mainMenuTitle"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
